<div data-fuze-address-book-loading-blocker="myController.loadInProgress">
   <form name="myController.form" novalidate="">
      <div class="modal-header">
         <h5 class="modal-title">Delete contact</h5>
      </div>
      <div class="modal-body">
         <p>Are you sure you want to delete the contact <strong>{{ myController.data.name }}</strong> ?</p>
      </div>
      <div class="modal-footer">
         <button class="btn btn-delete" type="button" ng-click="myController.actionDeleteContact(myController.data)">Delete contact</button>
         <button class="btn btn-secondary" type="button" data-ng-click="$dismiss()">Cancel</button>
      </div>
   </form>
</div>