@import 'variables.scss';
table {
   td {
      vertical-align: middle !important;
   }
   tbody tr {
      transition: all 0.2s ease-in-out;
   }
   tbody tr:hover {
      background-color: lighten($fuze-color-gray, 72%) !important;
   }
   thead th {
      border: none !important;
   }
   button {
      margin-right: 0.2rem;
   }
}
