/* COLORS */
$fuze-color-blue: #3bbdc1;
$fuze-color-purple: #6a348b;
$fuze-color-yellow: #fde300;
$fuze-color-gray: #323232;
$fuze-color-red: #f44466;
$fuze-color-purple-darken: darken($fuze-color-purple, 20%);
$fuze-color-gray-darken: darken($fuze-color-gray, 20%);
$nav-background: #0a0a0a;


/* RADIUS */
$border-radius: 0.10rem;
