<div id="fuze-address-book-contacts-page" data-fuze-address-book-loading-blocker="myController.loadInProgress">
   <div class="inner">
      <div class="row">
         <div id="fuze-address-book-nav-mobile" class="col-12">
            <div class="form-group">
               <select class="form-control" id="fuze-address-book-nav-mobile-selection" data-ng-model="myController.navigation.selected" data-ng-change="myController.navigate(myController.navigation.selected)">
                  <option data-ng-repeat="state in myController.navigation.states track by state.state" data-ng-value="state.state">{{ state.name }}</option>
               </select>
            </div>
         </div>
         <div class="col-12 col-md-10">
            <h1>Contact list</h1>
         </div>
         <div class="col-12 col-md-2">
            <button class="btn btn-primary btn-lg full-width" type="submit" data-ng-click="myController.actionConfigContact()">Add contact</button>
         </div>
      </div>
      <div class="row">
         <div class="col-12">
            <form class="search-form">
               <div class="form-group">
                  <div class="row">
                     <div class="col-12 col-md-12">
                        <input class="form-control form-control-lg" type="text" placeholder="search contacts" data-ng-model="myController.searchQuery[myController.searchQueryBy]">
                     </div>
                  </div>
               </div>
            </form>

            <table class="table table-striped">
               <thead>
               <tr>
                  <th class="col-number">#</th>
                  <th class="col-picture">Picture</th>
                  <th class="col-name">Name</th>
                  <th class="col-phone">Phone</th>
                  <th class="col-groupName">Group</th>
                  <!--<th class="col-email">E-mail</th>-->
                  <th class="col-actions">Actions</th>
               </tr>
               </thead>
               <tbody>
                  <tr data-ng-repeat="data in myController.data | filter:myController.searchQuery">
                     <td>{{ $index+1 }}</td>
                     <td><img class="thumbnail-picture" data-ng-src="{{ data.pictureUrl }}"></td>
                     <td>{{ data.name }}</td>
                     <td>{{ data.phone }}</td>
                     <td>{{ data.$$$groupName }}</td>
                     <!--<td>{{ data.email }}</td>-->
                     <td>
                        <button class="btn btn-sm btn-edit" data-ng-click="myController.actionConfigContact(data)">Edit</button>
                        <button class="btn btn-sm btn-delete" data-ng-click="myController.actionDeleteContact(data)">Delete</button>
                     </td>
                  </tr>
               </tbody>
            </table>

         </div>
      </div>
   </div>
</div>