.main-container.login{
   padding: 4em;
}

.text--create-new-account {
   font-weight: 300;
   margin-top: 1rem;
}

.text--create-new-account a {
   font-weight: 400;
   color: white;
}

.text--create-new-account a:hover {
   color: white;
}

.slogan {
   padding: 2rem;
}
.slogan h3 {
   font-size: 3rem;
}
.slogan h3, .slogan h4 {
   color: white;
   font-weight: 300;
}