.main-container.login{
   padding: 4em;
}

.text--create-new-account {
   font-weight: 300;
   margin-top: 1rem;
}

.text--create-new-account a {
   font-weight: 400;
   color: white;
}

.text--create-new-account a:hover {
   color: white;
}