@media (min-width: 768px) {
   .main-container.login{
      padding: 4em;
   }
}

@media (max-width: 768px) {
   .slogan h3 {
      font-size: 3.5rem;
   }
   .slogan h5 {
      font-size: 2rem;
   }
}

.main-container.login {
   padding: 2rem;
}

.text--create-new-account {
   font-weight: 300;
   margin-top: 1rem;
}

.text--create-new-account a {
   font-weight: 400;
   color: white;
}

.text--create-new-account a:hover {
   color: white;
}

.slogan {
   padding: 2rem;
}

.slogan h5, .slogan h3 {
   color: white;
   font-weight: 300;
}