@import '../../../../assets/css/variables.scss';

header {
   color: white;
   font-weight: 300;

   .dropdown{
      top: 40%;
      float: right;
      margin-right: 50px;

      a{
         color: $fuze-color-purple;
         font-weight: 500;
         display: inline-block;
         width: 100%;
      }

      .dropdown-menu{
         padding: 0.4rem 0.6rem;
         font-size: 0.9rem;
      }
   }

   #fuze-address-book-header-candidate-dropdown {
      color: white;
   }
}