@media (min-width: 768px) {
   .main-container.register{
      padding: 4em;
   }
}

.main-container.register {
   padding: 2rem;
}


.text--login {
   font-weight: 300;
   margin-top: 1rem;
}

.text--login a {
   font-weight: 400;
   color: white;
}

.text--login a:hover {
   color: white;
}