.main-container.register{
   padding: 4em;
}

.text--login {
   font-weight: 300;
   margin-top: 1rem;
}

.text--login a {
   font-weight: 400;
   color: white;
}

.text--login a:hover {
   color: white;
}